.cabecalho_menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
/* .container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer{
    background-image: url("../img/menu_verde.svg");
} */

.container__botao:checked~.container__rotulo{
    background-color: var(--cor-de-fundo-escuro);
}

.cabecalho{
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*Só para liberar a ultilização do "position: absolute" liberando a utilização de outros atributos L/R/T/B*/
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute; /*Permite que movimente o elemento de acordo com o .cabecalho que teve o elemento diferente de static*/
    top: 100%;
    width: 60vw;
}   

.container__botao:checked~.lista-menu{ /*Se o .container__botao estiver check ele vai procurar o .lista-menu e fixar(display:block)*/
    display: block; 
}

.lista-menu__titulo, 
.lista-menu__item{
    padding: 1em;
    background-color: var(--cor-de-fundo-escuro);
}

.lista-menu__titulo{
    color: var(--cor-letras-verde);
    font-weight: 700;
}

.lista-menu__link{
    color: var(--cor-letras);
    text-decoration: none;
    text-transform: uppercase; /*transformação para letras maiusculas*/
}

.lista-menu__link:hover{
    color: var(--cor-letras);
}

.container__botao{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}


@media screen and (min-width: 1024px){
    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var( --cor-letras);
    }

    .container__imagem-transparente{
        display: none;
    }

    .cabecalho_menu-hamburguer{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulos> .opcoes__item{
        background-color: var(--cor-de-fundo-escuro);
    }

    .lista-menu__item:hover{
        background-color: var(--cinza);
    }

    .lista-menu__item:hover>.lista-menu__link{
        -webkit-text-fill-color: #7FC350;
    }
}

@media screen and (min-width: 1728px){
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-letras);
    }

    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto; /*O auto preenche todo espaço que está sobrando, neste caso preencheu toda a direita com a margim*/
    }

    .container__texto{
        display: block;
    }
}
